.git
**/node_modules
**/dist
**/*.tsbuildinfo
packages/hook/bin
packages/testkit/bin
tools/check-comments/dockerfile-comments/bin
coverage
test-results
playwright-report
blob-report
playwright/.cache
.superpowers
